Flask==3.1.1
flask-cors==6.0.1
Flask-SQLAlchemy==3.1.1
requests==2.32.4
beautifulsoup4==4.13.4
lxml==6.0.0
openai==1.100.0
scikit-learn==1.7.1
nltk==3.9.1
numpy==2.3.2
cloudscraper==1.2.71
selenium==4.35.0
gunicorn==23.0.0

